<mat-tab-group>
  <mat-tab label="Lifestyle">
    <mat-card class="event-card" *ngFor="let e of eventsLifestyle" routerLink="/events/{{e.eventDetailsId}}">
      <mat-card-title>{{ (e.title.length<36)? e.title : (e.title.substring(0,10)+"...") }}</mat-card-title>
      <img class="event-card-img" src="{{e.imageUrl}}">
      <!-- <mat-card-content>{{ e.description }}</mat-card-content> -->
    </mat-card>
  </mat-tab>
  <mat-tab label="Food">
    <mat-card class="event-card" *ngFor="let e of eventsFood" routerLink="/events/{{e.eventDetailsId}}">
      <mat-card-title>{{ (e.title.length<36)? e.title : (e.title.substring(0,10)+"...") }}</mat-card-title>
      <img class="event-card-img" src="{{e.imageUrl}}">
      <!-- <mat-card-content>{{ e.description }}</mat-card-content> -->
    </mat-card>
  </mat-tab>
  <mat-tab label="Music">
    <mat-card class="event-card" *ngFor="let e of eventsMusic" routerLink="/events/{{e.eventDetailsId}}">
      <mat-card-title>{{ (e.title.length<36)? e.title : (e.title.substring(0,10)+"...") }}</mat-card-title>
      <img class="event-card-img" src="{{e.imageUrl}}">
      <!-- <mat-card-content>{{ e.description }}</mat-card-content> -->
    </mat-card>
  </mat-tab>
  <mat-tab label="Sports">
    <mat-card class="event-card" *ngFor="let e of eventsSports" routerLink="/events/{{e.eventDetailsId}}">
      <mat-card-title>{{ (e.title.length<36)? e.title : (e.title.substring(0,10)+"...") }}</mat-card-title>
      <img class="event-card-img" src="{{e.imageUrl}}">
      <!-- <mat-card-content>{{ e.description }}</mat-card-content> -->
    </mat-card>
  </mat-tab>
</mat-tab-group>

<div class="homepage-events">

</div>
