<!-- <head>
  <meta charset="utf-8" />
  <title>Accept a payment</title>
  <meta name="description" content="A demo of a payment on Stripe" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="checkout.component.css" />
  <script type="text/javascript" src="https://js.stripe.com/v3/"></script>
  <script src="checkout.component.ts" defer></script>
</head> -->

<head>
  <script src="https://js.stripe.com/v3/"></script>

</head>

<body>
  <div class="payment-details">
    <!-- Display a payment form -->
    <form id="payment-form">
      <label for="payment-element">Payment
        <div id="payment-element">
          <!--Stripe.js injects the Payment Element-->
        </div>
      </label>
      <button id="submit" (click)="handleSubmit($event)">
        <div class="spinner hidden" id="spinner"></div>
        <span id="button-text">Pay now</span>
      </button>
      <div id="payment-message" class="hidden"></div>
    </form>
  </div>

  <div class="test-details">
    <h2>Stripe Test Cards</h2>
    <table>
      <tr>
        <td>Successful</td>
        <td>4242424242424242</td>
      </tr>
      <tr>
        <td>Generic decline</td>
        <td>4000000000000002</td>
      </tr>
      <tr>
        <td>Insufficient funds</td>
        <td>4000000000009995</td>
      </tr>
    </table>
  </div>
</body>
