<div class="login-input">
  <h1 class="login-header">Login</h1>
  <form [formGroup]="loginForm" class="login-email-password" (ngSubmit)="login()">
    <div>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input formControlName="email" type="email" matInput>
        <mat-error>Please input a valid email</mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="full-width">
        <mat-label>Password</mat-label>
        <input formControlName="userPassword" type="password" matInput>
        <mat-hint>Forgot password?</mat-hint>
      </mat-form-field>
    </div>
    <div class="login-button">
      <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">Login</button>
    </div>

  </form>

</div>
<mat-divider class="divider"></mat-divider>

<div class="create-account">
  <h2 class="login-header">Don't have an account?</h2>

  <div class="sign-up">
    <!-- <p>Sign up with Gmail</p> -->
    <a routerLink="/createaccount">Sign up with email</a>
  </div>

</div>
