<mat-toolbar color="primary">
  <button mat-flat-button extended color="primary" routerLink="/">
      <mat-icon >home</mat-icon>
      vttp-project
  </button>
  <span class="spacer-between-home-and-search"></span>

  <form [formGroup]="searchForm" (ngSubmit)="search()">
    <span class="navbar-search" style="display: flex; justify-content: center; align-items: center;">
      <mat-form-field class="search-form-field">
          <input matInput class="search-input" formControlName="searchInput"
          placeholder="Search for Events by name, place, etc.">
      </mat-form-field>
      <button mat-mini-fab class="search-icon" type="submit" color="primary">
        <mat-icon>search</mat-icon>
      </button>
    </span>
  </form>

  <span class="example-spacer"></span>
  <button *ngIf="currentUsername=='Login'" mat-flat-button extended color="primary" routerLink="/login">
      <mat-icon>person</mat-icon>
      <!-- <span>{{ userSvc.currentUser.displayName }}</span> -->
      <span>{{ currentUsername }}</span>
  </button>
  <button *ngIf="currentUsername!='Login'" mat-flat-button extended color="primary" [mat-menu-trigger-for]="menu">
    <mat-icon>person</mat-icon>
    <!-- <span>{{ userSvc.currentUser.displayName }}</span> -->
    <span>{{ currentUsername }}</span>
</button>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="goToProfile()">My Profile</button>
  <button mat-menu-item (click)="goToSettings()">Settings</button>
  <button mat-menu-item class="sign-out-button" (click)="signOut()">Sign Out</button>
</mat-menu>
